
@{
    ViewBag.Title = "Inicio";
}

<h2>Index</h2>

<div class="panel panel-default">
    <div class="panel-heading">Panel</div>
    <div class="panel-body">
        <input type="text" class="form-control" />
    </div>
</div>
