
@{
    ViewBag.Title = "Inicio";
}

<h2>Dashboard</h2>

<div class="panel panel-default">
    <div class="panel-heading">Referencias</div>
    <div class="panel-body">
        <h4>Theme Color Admin</h4>
        <a target="_blank" href="http://seantheme.com/color-admin-v2.2/admin/html/index_v2.html">Visite aquí</a>
    </div>
</div>
