
@{
    ViewBag.Title = "Inicio";
}

@*<ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Home</a></li>
    <li><a href="javascript:;">Page Options</a></li>
    <li class="active">Page with Mega Menu</li>
</ol>*@

<h1 class="page-header">Dashboard</h1>

<div class="panel panel-default">
    <div class="panel-heading">Referencias</div>
    <div class="panel-body">
        <h4>Theme Color Admin</h4>
        <a target="_blank" href="http://seantheme.com/color-admin-v2.2/admin/html/index_v2.html">Visite aquí</a>
    </div>
</div>
