
@{
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Formulario de búsqueda</h3>
<ol class="breadcrumb">
    <li><a href="~/">Inicio</a></li>
    <li class="active">Búsqueda</li>
</ol>