a { cursor: pointer; }
a:focus, a:active { outline: 0; outline-style: none; outline-width: 0; }
a:active { background-color: transparent; }
img { border: 0 none; }
textarea { resize: none; }
label { font-weight: normal; }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; background-color: #fff !important; }
input[type='text'], input[type='password'], select, textarea { border: 1px solid #ccc; }
input:focus, select:focus, textarea:focus, .form-control:focus { border-color: #ccc; }
input[type='text'], input[type='password'], select, textarea, .form-control, input:focus, select:focus, textarea:focus, .well { box-shadow: none !important; }
input[type='text'], input[type='password'], select, textarea, .panel, .input-group-addon, .form-control, .btn, .well, .alert, .progress { border-radius: 0 !important; }
div:focus, span:focus, button:focus, input:focus, select:focus, textarea:focus, .btn:focus, .btn:active:focus, .btn.active:focus { outline: none !important; }
input[type="number"].textfield::-webkit-outer-spin-button, input[type="number"].textfield::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type="number"].textfield { -moz-appearance: textfield; }
.checkbox-inline label, .radio-inline label { font-weight: normal; }
span.radio-inline label { padding-right: 10px; }
.radio-group td > span { display: inline-block; padding-left: 20px; font-weight: 400; vertical-align: middle; padding-top: 7px; }
.radio-group td > span input[type=radio] { position: absolute; margin: 4px 0 0; margin-left: -20px; }
.radio-group td > span label { font-weight: 400; padding-right: 10px; }
fieldset.fs-border { margin-bottom: 20px; border: 1px solid silver; padding: 10px 15px 15px 15px; }
fieldset.fs-border legend { width: auto; font-size: 10pt; padding: 0 5px; color: #888; border-bottom: 0; margin: 0; }
.media .media-object { max-width: 55px; border: 1px solid #e0e0e0; }
.well { margin: 10px 0; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
